# directories
alias d="cd ~/Development"
alias doc="cd ~/Documents"

# exa
alias ls="exa -alh --group-directories-first --classify"
alias l="l"

# tilix
alias down="tilix -a session-add-down"
alias right="tilix -a session-add-right"

# xclip
alias copy="xclip"
