# directories
alias c="code ."
alias dev="cd ~/Development"
alias d="dev"
alias dl="cd ~/Downloads"
alias doc="cd ~/Documents"
alias dotfiles="cd ~/.config/dotfiles"
alias guides="cd ~/Development/guides"

# exa
alias ls="exa -alh --group-directories-first --classify"
alias l="l"

# tilix
alias down="tilix -a session-add-down"
alias right="tilix -a session-add-right"

# xclip
alias copy="xclip"
